Repository the78mole/devcontainer-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts, check-feature-version-updates

validate-devcontainer-features:
  name: Validate devcontainer feature configurations
  entry: bash -c 'for file in src/*/devcontainer-feature.json; do echo "Validating $file"; python3 -m json.tool "$file" > /dev/null || exit 1; done'
  language: system
  pass_filenames: false

check-feature-install-scripts:
  name: Check feature install scripts are executable
  entry: bash -c 'for script in src/*/install.sh; do if [ -f "$script" ] && [ ! -x "$script" ]; then echo "Install script $script is not executable"; exit 1; fi; done'
  language: system
  pass_filenames: false

check-test-scripts:
  name: Check test scripts are executable
  entry: bash -c 'for script in test/*/test.sh; do if [ -f "$script" ] && [ ! -x "$script" ]; then echo "Test script $script is not executable"; exit 1; fi; done'
  language: system
  pass_filenames: false

check-feature-version-updates:
  name: Check feature version updates
  entry: ./scripts/check-feature-version-updates.sh
  language: system
  pass_filenames: false

Remove schedule from renovate configuration
  renovate.json
Due: none

fix(cacerts): make install.sh POSIX-compatible and fix Alpine/Fedora test failures (#18)
  src/cacerts/README.md
  src/cacerts/devcontainer-feature.json
  src/cacerts/install.sh
  test/cacerts/devcontainer.json
  test/cacerts/scenarios.json
  test/cacerts/scenarios/with-local-cert/Dockerfile.test
  test/cacerts/scenarios/with-local-cert/devcontainer.json
  test/cacerts/test.sh
  test/cacerts/with-apk-cert.sh
  test/cacerts/with-apk.sh
  test/cacerts/with-custom-cert.sh
  test/cacerts/with-ignore-missing-local.sh
  test/cacerts/with-ignore-missing.sh
  test/cacerts/with-local-cert.sh
  test/cacerts/with-multiple-urls.sh
  test/cacerts/with-yum-cert.sh
  test/cacerts/with-yum.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts, check-feature-version-updates

[WIP] Add searchCerts option for cacerts feature (#20)
  src/cacerts/README.md
  src/cacerts/devcontainer-feature.json
  src/cacerts/install.sh
  test/cacerts/scenarios.json
  test/cacerts/with-search-certs.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-feature-version-updates

feat: add devcontainer.json configuration and update release notes formatting
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
Due: none

feat: add workflow to sync version from git tags and update test workflow for feature input
  .github/workflows/sync-version-from-tag.yml
  .github/workflows/test.yml
Due: none

Track feature versions via per-feature `<feature>/vX.Y.Z` git tags (#21)
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .github/workflows/sync-version-from-tag.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  scripts/check-feature-version-updates.sh
Due: none

fix(cacerts): Avoid copying certs if already in place
  .devcontainer/Dockerfile
  .devcontainer/certs/.gitignore
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check-feature-readme-versions.sh
  scripts/check-feature-version-updates.sh
  src/cacerts/README.md
  src/cacerts/install.sh
  src/jumpstarter-cli/README.md
  src/pre-commit/README.md
  src/uv/README.md
Due: check-feature-install-scripts, check-feature-version-updates

feat(nrf-tools): Add nRF Command Line Tools and J-Link feature with installation scripts and tests
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  Makefile
  scripts/install-host-udev-rules.sh
  src/nrf-tools/README.md
  src/nrf-tools/devcontainer-feature.json
  src/nrf-tools/install.sh
  test/nrf-tools/devcontainer.json
  test/nrf-tools/scenarios.json
  test/nrf-tools/scenarios/with-custom-jlink-dir/devcontainer.json
  test/nrf-tools/scenarios/with-specific-version/devcontainer.json
  test/nrf-tools/test.sh
  test/nrf-tools/with-custom-jlink-dir.sh
  test/nrf-tools/with-specific-version.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts, check-feature-version-updates

fix: Normalize JSON formatting and update script permissions for nRF tools feature
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  src/nrf-tools/README.md
  src/nrf-tools/devcontainer-feature.json
  src/nrf-tools/install.sh
  test/nrf-tools/test.sh
  test/nrf-tools/with-custom-jlink-dir.sh
  test/nrf-tools/with-specific-version.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts, check-feature-version-updates

feat(nrf-tools): Add runArgs and mounts for hardware access in devcontainer
  src/nrf-tools/README.md
Due: check-feature-version-updates

feat(github-cli): Add GitHub CLI feature to devcontainer configuration and fix CI tests for nrf-tools feature
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
Due: none

feat(nrf-tools): Add nRF Command Line Tools and J-Link feature with installation scripts and tests (#22)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  scripts/install-host-udev-rules.sh
  src/nrf-tools/README.md
  src/nrf-tools/devcontainer-feature.json
  src/nrf-tools/install.sh
  test/nrf-tools/devcontainer.json
  test/nrf-tools/scenarios.json
  test/nrf-tools/scenarios/with-custom-jlink-dir/devcontainer.json
  test/nrf-tools/scenarios/with-specific-version/devcontainer.json
  test/nrf-tools/test.sh
  test/nrf-tools/with-specific-version.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts, check-feature-version-updates

feat(devcontainer): Add GitHub CLI feature and update VS Code extensions
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
Due: none

feat(github): Initialize GITHUB_TOKEN in container setup and update feature testing logic
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/init-github-token.sh
  .github/workflows/release.yml
Due: none

fix(devcontainer): Correct formatting of mounts in devcontainer.json and update init-github-token.sh permissions
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/init-github-token.sh
Due: none

feat: Add auto-bump feature versions and validation scripts; update CA certificates version
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .pre-commit-config.yaml
  cog.toml
  scripts/auto-bump-features.sh
  scripts/check-feature-version-bumped.sh
  src/cacerts/devcontainer-feature.json
  src/cacerts/install.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-feature-version-updates

feat(nrf-tools): update version to 1.1.1 and add custom managers for UV dependencies in renovate.json
  renovate.json
  src/nrf-tools/devcontainer-feature.json
Due: validate-devcontainer-features, check-feature-version-updates

feat(ci): Add new CI & Release workflow and remove old test workflow
  .github/workflows/ci-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  renovate.json
  src/nrf-tools/devcontainer-feature.json
Due: validate-devcontainer-features, check-feature-version-updates

feat(ci): Add new CI & Release workflow and remove old test workflow (#23)
  .github/workflows/ci-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat(ci): Enhance CI workflow with caching and release note generation
  .github/workflows/ci-release.yml
Due: none

feat(nrf-tools): bump version to 1.1.2
  src/nrf-tools/devcontainer-feature.json
Due: validate-devcontainer-features, check-feature-version-updates

fix(ci): update actions/cache from v4 to v5 for improved caching
  .github/workflows/ci-release.yml
Due: none

feat(jlink): add SEGGER J-Link feature with installation and testing scripts
  .github/workflows/ci-release.yml
  Makefile
  cog.toml
  src/jlink/README.md
  src/jlink/devcontainer-feature.json
  src/jlink/install.sh
  test/jlink/devcontainer.json
  test/jlink/scenarios.json
  test/jlink/scenarios/with-specific-version/devcontainer.json
  test/jlink/test.sh
  test/jlink/with-specific-version.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts, check-feature-version-updates

fix(release): update release title format to be more consistent
  .github/workflows/ci-release.yml
Due: none

feat(ci): add detailed step summaries for pre-commit, feature detection, and deployment
  .github/workflows/ci-release.yml
Due: none

feat(postCreate): switch cocogitto installation to pre-built binary for improved compatibility
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
Due: none

"Add/update ko-fi sponsorship to $KOIFI"
  .github/FUNDING.yml
Due: none

Fix FUNDING.yml: ko-fi -> ko_fi (underscore)
  .github/FUNDING.yml
Due: none

fix: rewrite FUNDING.yml as clean UTF-8
  .github/FUNDING.yml
Due: none

fix: rewrite FUNDING.yml as clean UTF-8 (#29)
  .github/FUNDING.yml
Due: none

ci: only release the tip of main
  .github/workflows/ci-release.yml
Due: none

Path conditions:
  validate-devcontainer-features: any of: src/.*/devcontainer-feature\.json$
  check-feature-install-scripts: any of: src/.*/install\.sh$
  check-test-scripts: any of: test/.*/test\.sh$
  check-feature-version-updates: any of: ^src/.*/(devcontainer-feature\.json|install\.sh|.*\.md)$
