Repository the78mole/devcontainer-features: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        args: [-x]
        exclude: ^test/.*\.sh$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        files: ^test/.*\.sh$
        args: [-x, -e, SC1091]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--fix]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        types_or: [json, yaml, markdown]
        args: [--write]

  - repo: local
    hooks:
      - id: validate-devcontainer-features
        name: Validate devcontainer feature configurations
        entry: bash -c 'for file in src/*/devcontainer-feature.json; do echo "Validating $file"; python3 -m json.tool "$file" > /dev/null || exit 1; done'
        language: system
        files: 'src/.*/devcontainer-feature\.json$'
        pass_filenames: false

      - id: check-feature-install-scripts
        name: Check feature install scripts are executable
        entry: bash -c 'for script in src/*/install.sh; do if [ -f "$script" ] && [ ! -x "$script" ]; then echo "Install script $script is not executable"; exit 1; fi; done'
        language: system
        files: 'src/.*/install\.sh$'
        pass_filenames: false

      - id: check-test-scripts
        name: Check test scripts are executable
        entry: bash -c 'for script in test/*/test.sh; do if [ -f "$script" ] && [ ! -x "$script" ]; then echo "Test script $script is not executable"; exit 1; fi; done'
        language: system
        files: 'test/.*/test\.sh$'
        pass_filenames: false

Added PostgreSQL-feature and removed example-feature
  .github/scripts/get-features.sh
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  devcontainer-features.json
  renovate.json
  src/postgresql/CHANGELOG.md
  src/postgresql/README.md
  src/postgresql/devcontainer-feature.json
  src/postgresql/install.sh
  test/postgresql-version-16/devcontainer.json
  test/postgresql-version-16/test.sh
  test/postgresql/devcontainer.json
  test/postgresql/test.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

Update pre-commit hooks and format renovate.json for consistency
  .pre-commit-config.yaml
  renovate.json
Due: none

fix: PostgreSQL server test - check binary in versioned path
  .github/workflows/test.yml
  src/postgresql/install.sh
  test/postgresql/test.sh
Due: check-feature-install-scripts, check-test-scripts

feat: add symlink creation for PostgreSQL binaries and update tests
  src/postgresql/install.sh
  test/postgresql/test.sh
Due: check-feature-install-scripts, check-test-scripts

feat: reorganize GitHub Actions workflows for versioning and testing PostgreSQL features
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
Due: none

chore: remove PostgreSQL version 16 test files and configuration
  test/postgresql-version-16/devcontainer.json
  test/postgresql-version-16/test.sh
Due: check-test-scripts

feat: update security workflow to use actions/checkout@v4 and actions/upload-sarif@v3; add permissions section and improve ShellCheck output handling
  .github/workflows/security.yml
  src/postgresql/install.sh
Due: check-feature-install-scripts

fix: disable SC1091 for /etc/os-release sourcing
  src/postgresql/install.sh
Due: check-feature-install-scripts

fix: Implement fail-fast approach for PostgreSQL repository issues
  src/postgresql/install.sh
Due: check-feature-install-scripts

fix: update PostgreSQL version codenames and improve error messages in install script; update devcontainer image to Ubuntu 22.04
  src/postgresql/install.sh
  test/postgresql/devcontainer.json
Due: check-feature-install-scripts

feat: add GitHub Actions run cleanup script with options for keeping recent runs or deleting failed runs
  scripts/cleanup-runs.sh
Due: none

fix: use supported base image in release workflow
  .github/workflows/release.yml
Due: none

feat: dynamically generate feature list in release notes
  .github/workflows/release.yml
Due: none

docs: update PostgreSQL README with current supported distributions
  src/postgresql/README.md
Due: none

fix: update pre-commit hooks and improve installation script for uv feature
  .pre-commit-config.yaml
  src/uv/CHANGELOG.md
  src/uv/README.md
  src/uv/devcontainer-feature.json
  src/uv/install.sh
  test/uv/devcontainer.json
  test/uv/test.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

feat: rename test-versions job to test-postgresql-versions and update uv version matrix for testing
  .github/workflows/test.yml
Due: none

feat: add devcontainer and test scripts for PostgreSQL and uv scenarios
  test/scenarios/postgresql-latest-uv-specific/devcontainer.json
  test/scenarios/postgresql-latest-uv-specific/test.sh
  test/scenarios/postgresql-uv-combo/devcontainer.json
  test/scenarios/postgresql-uv-combo/test.sh
  test/scenarios/uv-minimal/devcontainer.json
  test/scenarios/uv-minimal/test.sh
Due: check-test-scripts

Add uv (Python Package Manager) feature with comprehensive testing and workflow integration (#7)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  src/uv/CHANGELOG.md
  src/uv/README.md
  src/uv/devcontainer-feature.json
  src/uv/install.sh
  test/scenarios/postgresql-latest-uv-specific/devcontainer.json
  test/scenarios/postgresql-latest-uv-specific/test.sh
  test/scenarios/postgresql-uv-combo/devcontainer.json
  test/scenarios/postgresql-uv-combo/test.sh
  test/scenarios/uv-minimal/devcontainer.json
  test/scenarios/uv-minimal/test.sh
  test/uv/devcontainer.json
  test/uv/test.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

feat: enhance GitHub Actions run cleanup script with permission checks and warnings
  scripts/cleanup-runs.sh
Due: none

feat: add support for uv and PostgreSQL integration with comprehensive testing
  test/postgresql/scenarios.json
  test/postgresql/scenarios/with-uv/devcontainer.json
  test/postgresql/scenarios/with-uv/test.sh
  test/postgresql/with-uv.sh
  test/scenarios/postgresql-latest-uv-specific/devcontainer.json
  test/scenarios/postgresql-latest-uv-specific/test.sh
  test/scenarios/uv-minimal/devcontainer.json
  test/uv/minimal-debian.sh
  test/uv/scenarios.json
  test/uv/scenarios/minimal-debian/devcontainer.json
  test/uv/scenarios/minimal-debian/test.sh
  test/uv/with-postgresql.sh
Due: check-test-scripts

feat: update pre-commit-hooks to version 6.0.0
  .pre-commit-config.yaml
Due: none

feat: enhance testing documentation and scripts for PostgreSQL and uv integration
  CONTRIBUTING.md
  README.md
  test/postgresql/scenarios/with-uv/test.sh
  test/postgresql/with-uv.sh
  test/uv/scenarios/minimal-debian/test.sh
  test/uv/scenarios/with-postgresql/devcontainer.json
  test/uv/with-postgresql.sh
Due: check-test-scripts

feat: update README to enhance uv feature documentation and usage examples
  README.md
Due: none

Fix PostgreSQL auto-start and authentication for devcontainer integration (#10)
  README.md
  src/postgresql/CHANGELOG.md
  src/postgresql/README.md
  src/postgresql/devcontainer-feature.json
  src/postgresql/install.sh
  test/postgresql/auto-start.sh
  test/postgresql/scenarios.json
Due: validate-devcontainer-features, check-feature-install-scripts

fix: resolve PostgreSQL initialization issues
  src/postgresql/devcontainer-feature.json
  src/postgresql/install.sh
Due: validate-devcontainer-features, check-feature-install-scripts

feat: add version check script and update PostgreSQL feature documentation
  .pre-commit-config.yaml
  scripts/check-feature-version-updates.sh
  src/postgresql/README.md
  src/postgresql/devcontainer-feature.json
  src/postgresql/install.sh
  src/uv/devcontainer-feature.json
  test-devcontainer.json
Due: validate-devcontainer-features, check-feature-install-scripts

Fix pre-commit issues: shellcheck, markdownlint, and version updates
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/README.md
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
  test/jumpstarter-cli/devcontainer.json
  test/jumpstarter-cli/pypi-repo.sh
  test/jumpstarter-cli/scenarios.json
  test/jumpstarter-cli/scenarios/pypi-repo/devcontainer.json
  test/jumpstarter-cli/scenarios/with-pre-commit/devcontainer.json
  test/jumpstarter-cli/test.sh
  test/jumpstarter-cli/with-pre-commit.sh
  test/pre-commit/devcontainer.json
  test/pre-commit/scenarios.json
  test/pre-commit/scenarios/with-postgresql/devcontainer.json
  test/pre-commit/test.sh
  test/pre-commit/with-postgresql.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

Fix jumpstarter-cli dependency issues and shell command execution
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
Due: validate-devcontainer-features, check-feature-install-scripts

Fix local feature dependency references
  src/jumpstarter-cli/devcontainer-feature.json
  src/pre-commit/devcontainer-feature.json
Due: validate-devcontainer-features

feat: bump version to 1.0.4 for jumpstarter-cli and pre-commit features docs: update README to clarify uv feature dependency for jumpstarter-cli and pre-commit
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
  src/pre-commit/README.md
  src/pre-commit/devcontainer-feature.json
Due: validate-devcontainer-features

feat: Add automatic curl and uv dependency installation
  .gitignore
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/README.md
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
Due: validate-devcontainer-features, check-feature-install-scripts

fix: Resolve shellcheck warnings and update feature versions
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
  test-ubuntu/.devcontainer/devcontainer.json
Due: validate-devcontainer-features, check-feature-install-scripts

fix: Handle uv binary permission issues with fallback execution
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
Due: validate-devcontainer-features, check-feature-install-scripts

fix: Resolve all shellcheck warnings
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
Due: validate-devcontainer-features, check-feature-install-scripts

feat: Enhance installation scripts to check and install Python 3.11, update package installation commands, and add environment pseudo variable for JUMPSTARTER_HOST
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
  test-ubuntu/.devcontainer/devcontainer.json
  test/jumpstarter-cli/devcontainer.json
  test/jumpstarter-cli/pypi-repo.sh
  test/jumpstarter-cli/scenarios/pypi-repo/devcontainer.json
  test/jumpstarter-cli/scenarios/with-pre-commit/devcontainer.json
  test/jumpstarter-cli/test.sh
  test/jumpstarter-cli/with-pre-commit.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

feat: add pre-commit and jumpstarter-cli devcontainer features (#13)
  .gitignore
  README.md
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  src/pre-commit/README.md
  src/pre-commit/devcontainer-feature.json
  src/pre-commit/install.sh
  test/jumpstarter-cli/devcontainer.json
  test/jumpstarter-cli/pypi-repo.sh
  test/jumpstarter-cli/scenarios.json
  test/jumpstarter-cli/scenarios/pypi-repo/devcontainer.json
  test/jumpstarter-cli/scenarios/with-pre-commit/devcontainer.json
  test/jumpstarter-cli/test.sh
  test/jumpstarter-cli/with-pre-commit.sh
  test/pre-commit/devcontainer.json
  test/pre-commit/scenarios.json
  test/pre-commit/scenarios/with-postgresql/devcontainer.json
  test/pre-commit/test.sh
  test/pre-commit/with-postgresql.sh
Due: validate-devcontainer-features, check-feature-install-scripts, check-test-scripts

feat: enhance Jumpstarter CLI with package management options and testing scenarios
  .markdownlint.json
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  test/jumpstarter-cli/all-packages.sh
  test/jumpstarter-cli/scenarios.json
  test/jumpstarter-cli/scenarios/all-packages/devcontainer.json
  test/jumpstarter-cli/scenarios/testing-packages/devcontainer.json
  test/jumpstarter-cli/testing-packages.sh
Due: validate-devcontainer-features, check-feature-install-scripts

feat: update Jumpstarter CLI version to 1.3.0 and enhance documentation for package options
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
Due: validate-devcontainer-features

feat: enhance Jumpstarter CLI with package management options and testing scenarios (#14)
  .markdownlint.json
  src/jumpstarter-cli/README.md
  src/jumpstarter-cli/devcontainer-feature.json
  src/jumpstarter-cli/install.sh
  test/jumpstarter-cli/all-packages.sh
  test/jumpstarter-cli/scenarios.json
  test/jumpstarter-cli/scenarios/all-packages/devcontainer.json
  test/jumpstarter-cli/scenarios/testing-packages/devcontainer.json
  test/jumpstarter-cli/testing-packages.sh
Due: validate-devcontainer-features, check-feature-install-scripts
